* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
  }
  
  .wrapper {
    margin: 0 auto;
    width: 94%;
  }
  
  header {
    background: #1a1212;
    color: #fafafa;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul > li {
    list-style: none;
    font-size: 20px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    align-items: center;
  }
  .menu ul li a {
    transition: 0.8s;
    position: relative;
    text-decoration: none;
    color: #fafafa;
  }
  .menu ul li a:hover {
    color: #f2bc0c;
    cursor: pointer;
  }

  .menu ul li a:after {
    display: block;
  content: "";
  color: #fafafa;
  background-color: #F1CDB3;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width 0.6s ease-in-out;
  transform: translateX(-50%);
  }

  .menu ul li a:hover:after {
    width: 100%;
  }
  
  main {
    background-color: #ffaf03;
  }
  
  .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .name {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  .name h1 {
    font-size: 24px;
    color: #1a1212;
  }
  .name h2 {
    font-size: 20px;
  }
  .name .btn {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .name .btn a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #003d7d;
    color: #fafafa;
  }
  
  .img-cv {
    display: block;
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-color: rgba(0, 61, 125, 0.8);
  }
  .img-cv img {
    width: 300px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: -4px -4px 4px #1a1212;
  }

  .img-cv img:hover {
    cursor: pointer;
    box-shadow: -8px -4px 4px #144599;
    transform: scale(1.2);
  }

  .img-cv:hover {
    background-color: #000000;
  }
  
  .about-me { 
    background-color: #1a1212;
    color: #fafafa;
    padding: 20px;
  }
  .about-me h2 {
    text-align: center;
    padding-bottom: 30px;
    animation: anim 3s infinite 2s linear;
  }
  .about-me p {
    font-size: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
  }

  /*  skills */

  .skills {
    background-color: #ffaf03;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .skills h2 {
    padding-bottom: 20px;
 
  }
  
  .skills-block {
    margin: 0 auto;
    max-width: 1150px;
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 30px;
    justify-content: space-between;
    align-items: center;
  }
  .skills-block img {
    width: 70px;
    height: 70px;
  }


  .skills-block>li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  @keyframes anim {
    0% {
      color: #003d7d;
    }
    50% {
      color: #ffffff;
    }
    100% {
      color: #ffaf03;
    }
  }

    /* my project */

    .projects {
        background-color: #1a1212;
        color: #fafafa;
        font-size: 20px;
       
    }

    .project-block {
        padding: 50px 0px;
        display: flex;
        column-gap: 60px;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
    }

    .project-card {
        width: 250px;
        border: 2px dotted #003d7d;
        animation: border-anim 2s easy 1s;
        transition: all 0.8s;
    }
    
    .project-card:hover {
        cursor: pointer;
        border: 2px solid #f2bc0c;
      
    }


    .project-card, .screen {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 10px 0px;
    }

    .screen a img {
        width: 200px;
        border-radius: 15px 0px;
        border: 5px solid #f2bc0c;
        transition: all 1s;
    }

    .screen a img:hover {
        border: 5px solid #003d7d;
        border-radius: 0px 15px;
    }
    .screen p {
        font-size: 16px;
        color: #cdcdcd;
        font-style: italic;
        text-align: center;
    }
      /* code */
      .code {
        background-color: #ffaf03;
      }
  /* education */
  .education {
    background-color: #1a1212;
    padding: 50px 0px;
    color: #fafafa;
    
}

.edu {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
}
  .edu li a {
    text-decoration: none;
    color: #fafafa;
  }
  /* language */


  .language {
    padding: 50px 0px;
    background-color: #ffaf03;
    color: #1a1212;
   
  }
 
  .lang {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

    /* contact */
.contacts {
    background-color: #1a1212;
}
  /* footer */
  footer {
    background-color: #ffaf03;
  }
  
  .footer {
    padding: 50px 0px;
    
  }
  .footer p {
    padding-top: 20px;
    font-size: 12px;
  }
  
  .link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
  }
  .link .rss img {
    width: 120px;
  }
  .link .github img {
    width: 35px;
  }

  .my-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
  }

  .my-link-social {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }

  .link .my-link .link-soc {
    width: 35px;
  }
  
